<section class="bg-zinc-900 p-16 rounded-xl my-4">
  <h1 class="text-5xl font-bold my-5">About Us</h1>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet aperiam
    soluta mollitia iusto, debitis necessitatibus autem a ipsum nihil ullam quia
    nostrum, adipisci consequuntur assumenda, reprehenderit inventore hic natus
    consectetur?
  </p>
</section>
