<header
  class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left"
>
  <div>
    <h1 class="text-5xl font-bold pb-2">Protect your password</h1>
    <p class="text-2xl pb-2">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi dolor
      numquam distinctio, fugiat inventore ipsa! Lorem, ipsum dolor.
    </p>
    <button class="bg-indigo-500 px-4 py-2 hover:bg-indigo-400"
      >Start now</button
    >
  </div>
  <img class="w-80" src="images/fingerprint_login.svg" alt="" />
</header>
