---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1>About page</h1><p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam delectus
    quo suscipit illum. Repudiandae repellat dolores pariatur eaque ipsa.
    Provident ab inventore amet corrupti illum blanditiis possimus eveniet
    praesentium magni qui beatae aliquid culpa, autem eum perspiciatis!
    Voluptates, soluta? Veniam eveniet fugiat, perspiciatis repudiandae
    voluptates delectus explicabo. Atque doloribus harum, dolorem sequi
    repudiandae, veniam aspernatur consectetur, numquam itaque nisi ducimus?
    Recusandae ducimus esse veniam velit aspernatur sapiente? Facere minus
    possimus perspiciatis pariatur doloremque libero eius eligendi quam non
    amet, ut corporis voluptatibus ratione inventore cupiditate earum odio
    recusandae, veniam quisquam blanditiis magnam soluta harum dolorum! Beatae,
    accusamus. Repellat, dolore nesciunt!
  </p>
</Layout>
